<h4 *ngIf="!allowEdit" i18n>You're not allowed to edit!</h4>
<div *ngIf="allowEdit">
  <div class="form-group">
    <label for="name" i18n>Server Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="serverName">
  </div>
  <div class="form-group">
    <label for="status" i18n>Server Status</label>
    <select
      id="status"
      class="form-control"
      [(ngModel)]="serverStatus">
      <option value="online" i18n>Online</option>
      <option value="offline" i18n>Offline</option>
    </select>
  </div>
  <button
    class="btn btn-primary"
    (click)="onUpdateServer()" i18n>Update Server</button>
</div>

