<div style="display:flex; justify-content: flex-end">
  <div>{{currentLang}}</div>
  <a href="/hr/" *ngIf="currentLang!='hr'"> Hrvatski</a>
  <a href="/" *ngIf="currentLang!='en'"> Engleski</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" i18n>Home</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="servers" i18n>Servers</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a [routerLink]="['users']" i18n>Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


